---
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../posts/*.md')
const tagSet = new Set(allPosts.flatMap((post) => post.frontmatter.tags))
const tags = Array.from(tagSet).sort()

const pageTitle = "Tags";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Posts by Tag</h2>
  <ul>
    {tags.map((tag) => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))}
</BaseLayout>
